header {
    nav {
        border-bottom: 1px solid aqua;
        padding: 8px 40px;
        background-color: black;

        .logo,
        .nav-item {
            &:hover {
                color: rgb(23, 162, 184) !important;
                transition: .3s;
            }
        }

        .logout-btn:hover {
            color: red !important;
            background: none !important;
            transition: .2s;
        }


        .left {
            font-size: 2rem;
        }

        .right {
            li {
                font-size: 18px;
            }
        }
    }
}

#home {
    height: 100vh;
    padding-top: 260px;
}

#sign {
    &-up {
        margin-top: 140px;
    }

    &-in {
        margin-top: 170px;
    }

    &-in,
    &-up {
        h3 {
            color: rgb(23, 162, 184);
        }

        button {
            background-color: rgb(23, 162, 184);
        }

        h5 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .has-an-acc {
            color: rgb(23, 162, 184);
        }
    }
}

#developers {
    margin-top: 100px;

    .vp-btn {
        background-color: rgb(23, 162, 184);
        padding: 10px 20px;
    }
}

#profile {
    .user-main-info {
        background-color: rgb(23, 162, 184);
        padding-bottom: 60px;
    }

    .user-bio {
        background-color: #f3f3f3;
        padding: 30px 0;
        border: 1px solid rgb(195, 184, 184);

        p {
            font-size: 20px;
        }
    }

    .repo-name {
        color: rgb(23, 162, 184);
        font-size: 20px;
    }

    .repo-stars {
        background-color: rgb(23, 162, 184);
    }

    .repo-forks {
        background-color: #f3f3f3;
        border: 1px solid rgb(75, 72, 72);
    }
}

.create-profile,
.add-exp,
.add-edu,
.edit-profile {
    margin-top: 100px;
    margin-bottom: 80px;
    width: 60%;

    .send {
        background-color: rgb(23, 162, 184);
        border: none;
        letter-spacing: 5px;
        font-size: 20px;
    }

    .back {
        background-color: #f4f4f4;
        font-size: 20px;
    }

    .send,
    .back {
        &:hover {
            opacity: 0.7;
        }
    }
}

#dashboard {
    margin-top: 100px;

    .dashboard-links {
        background-color: #f4f4f4;
        margin-right: 10px;
    }
}

#dashboard-create {
    margin-top: 170px;

    p {
        font-size: 20px;
    }

    .create-profile-btn {
        background-color: rgb(23, 162, 184);
        font-weight: 500;
        letter-spacing: 1px;
    }
}


.post-date {
    color: gray;
    font-size: 14px;
}

.dsc-btn {
    background-color: rgb(23, 162, 184);
    padding: 10px;
}

.edu-exp,
.github,
.user-bio {
    h4 {
        color: rgb(23, 162, 184);
        font-size: 30px;
    }
}

.bg-main {
    background-color: rgb(23, 162, 184);
}

.exp,
.edu {
    border: 1px solid rgb(195, 184, 184);
}

thead {
    background-color: #f3f3f3;
}

h3 {
    color: rgb(23, 162, 184);
    font-size: 3rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(23, 162, 184);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 300px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:376px) {
    .cp-btn {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    nav {
        .container-fluid {
            padding: 0 10px !important;
        }
    }
}

@media screen and (max-width:767px) {
    #developers {
        .developer {
            display: block !important;
            text-align: center;

        }

        .skills {
            margin-top: 15px;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .dev-avatar {
            width: 45% !important;
        }
    }
}

@media screen and (max-width:991px) {

    #sign-up,
    #sign-in {
        input {
            width: 100% !important;
        }
    }

    .create-profile {
        width: 100% !important;
    }
}