body {

    #home {
        height: 100vh;
        padding-top: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 30px;
    }

    header {
        nav {
            background-color: rgb(51, 55, 59);
            border-bottom: 1px solid aqua;
            padding: 8px 40px;

            .logo,
            .nav-item {
                &:hover {
                    color: rgb(23, 162, 184) !important;
                    transition: .3s;
                }
            }

            .logout-btn:hover {
                color: red !important;
                background: none !important;
                transition: .2s;
            }


            .left {
                font-size: 2rem;
            }

            .right {
                li {
                    font-size: 18px;
                }
            }
        }
    }

    #sign-up,
    #sign-in {
        h3 {
            color: rgb(23, 162, 184);
        }

        button {
            background-color: rgb(23, 162, 184);
        }

        h5 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .has-an-acc {
            color: rgb(23, 162, 184);
        }
    }

    .create-profil {
        margin-bottom: 80px;

        .send {
            background-color: rgb(23, 162, 184);
            border: none;
            letter-spacing: 5px;
            font-size: 20px;
        }

        .back {
            background-color: #f4f4f4;
            font-size: 20px;
        }

        .send,
        .back {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .dashboard-create {
        p {
            font-size: 20px;
        }

        .create-profil-btn {
            background-color: rgb(23, 162, 184);
            font-weight: 500;
            letter-spacing: 1px;
        }
    }

    .dashboard-links {
        background-color: #f4f4f4;
        margin-right: 10px;
    }

    .vp-btn {
        background-color: rgb(23, 162, 184);
        padding: 10px 20px;
    }

    .post-date {
        color: gray;
        font-size: 14px;
    }

    .dsc-btn {
        background-color: rgb(23, 162, 184);
        padding: 10px;

    }

    .user-main-info {
        background-color: rgb(23, 162, 184);
        padding-bottom: 60px;
    }

    .user-bio {
        background-color: #f3f3f3;
        padding: 30px 0;
        border: 1px solid rgb(195, 184, 184);

        p {
            font-size: 20px;
        }
    }

    .edu-exp,
    .github,
    .user-bio {
        h4 {
            color: rgb(23, 162, 184);
            font-size: 30px;
        }
    }

    .repo-name {
        color: rgb(23, 162, 184);
        font-size: 20px;
    }

    .repo-stars,
    .bg-main {
        background-color: rgb(23, 162, 184);
    }

    .repo-forks {
        background-color: #f3f3f3;
        border: 1px solid rgb(75, 72, 72);
    }

    .exp,
    .edu {
        border: 1px solid rgb(195, 184, 184);
    }

    thead{
        background-color: #f3f3f3;
    }




}

h3 {
    color: rgb(23, 162, 184);
    font-size: 3rem;
}

// loader
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(23, 162, 184);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-top: 250px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}